
body{
  /*margin: 50px 20px 10px 10px;*/
  /*background-color: black;*/
  padding: 0px;
  margin: 0px;
  font-size: 12pt;
  font-family:"Arial", serif;
}

.parallax-window {
  min-height: 25px;
  background-color: transparent;
  padding: 50px 0px 50px 0;
}

span{
  text-align: center;
}

.titleText{
  border-bottom: 4px solid darkgray;
  margin-bottom: 60px;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

.bodyText{
  border-style: solid;
  border-width: 2px 2px 2px 10px;
  border-top-color: orange;
  border-right-color: orange;
  border-bottom-color: orange;
  border-left-color: black;
  border-radius: 0px 20px 20px 0px;
  margin: 0px 150px 0px 150px;
  background-color: white;
  padding: 30px 100px 30px 100px;
}

h2 {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: lightgrey;
}

h3 a{
  color: #0431B4;
  text-decoration: none;
}

img {
  width: 200px;
  height: 150px;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
}

td {
  vertical-align: top;
}
.rightside{
  padding: 0px 0px 0px 50px;
}

ul {
  padding-left: 20px;
}

.card{
  padding-bottom:30px;
}

.images-contract{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobile-device {
  width: auto;
  height: 150px;
}

.text-bold {
  font-weight: bold;
}

.desktop {
  width: auto;
  height: 400px;
}
